[submodule "extensions/CategoryTree"]
	path = extensions/CategoryTree
	url = git@code.creativecommons.org:mw-ext/categorytree.git
[submodule "extensions/CC_Semantic_Extensions"]
	path = extensions/CC_Semantic_Extensions
	url = git@code.creativecommons.org:mw-ext/cc-semantic-extensions.git
[submodule "extensions/Cite"]
	path = extensions/Cite
	url = git@code.creativecommons.org:mw-ext/cite.git
[submodule "extensions/ConfirmEdit"]
	path = extensions/ConfirmEdit
	url = git@code.creativecommons.org:mw-ext/confirmedit.git
